
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.h1-Login{
text-align: center;
font-weight: bold;

}
.h3-login{
    color: grey;
    text-align: center;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: absolute;
right: 10px;
    top: -10rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video-background{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

body{
    /* font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "Nunito Sans", sans-serif;
}

.Parent-Box {
    display: flex;
    justify-content: space-evenly;
}

/* .Left{
margin: none;
width: 40%;
margin: 0.5rem;

} */


.h2-Login-leftbox{
    text-align: center;

     font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.inner-box{
    height: auto;
border-radius: 30px;
    margin: 2.5rem;
    margin-top: 10px;
    color:rgb(168, 168, 168)
}

.innerBox-h1{
    text-align: center;
}

 .Right{
margin: 0.5rem;
width: 50dvw;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
border-radius: 30px;
}  

p{
    text-align: center;
}

.Right > .Box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        gap: 0.6rem;
}

.hrAlign{
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.hrAlign > .hr{
width:10rem;
height: 2px;
margin: 1.5em 2em 1.5em 2em;
background-color: rgb(144, 144, 144);
}